In [25]:
import pyautogui
import pandas as pd
import time
import pyperclip

In [26]:
# Carregando o banco de dados:
df = pd.read_excel("Vendas - Dez.xlsx", sheet_name = "Plan1")
df

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276
...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [27]:
# Conhendo os produtos que as lojas trabalham:
agrupado = df.groupby(['Produto']).size()
agrupado

Produto
Bermuda             59
Bermuda Estampa     49
Bermuda Linho       61
Bermuda Liso        44
Bermuda Listrado    55
                    ..
Tênis Estampa       56
Tênis Linho         58
Tênis Liso          60
Tênis Listrado      49
Tênis Xadrez        54
Length: 120, dtype: int64

In [28]:
df.groupby(['Produto']).agg({'Valor Unitário': [min]})

                 Valor Unitário
                            min
Produto
Bermuda                     150
Bermuda Estampa             169
Bermuda Linho               195
Bermuda Liso                157
Bermuda Listrado            163
...                         ...
Tênis Estampa               256
Tênis Linho                 294
Tênis Liso                  266
Tênis Listrado              262
Tênis Xadrez                259

[120 rows x 1 columns]

In [29]:
df.groupby(['ID Loja', 'Produto']).agg({'Valor Final': [min, max, sum]})

                                     Valor Final
                                             min   max   sum
ID Loja             Produto
Bourbon Shopping SP Bermuda                  300   450   750
                    Bermuda Estampa          169   676  1183
                    Bermuda Linho            195   195   195
                    Bermuda Liso             471   471   471
                    Bermuda Listrado         163   489  1793
...                                          ...   ...   ...
Shopping Vila Velha Tênis                    250   250   250
                    Tênis Linho              294   294   294
                    Tênis Liso               266   532  1064
                    Tênis Listrado           262   262   262
                    Tênis Xadrez             518  1036  1554

[2716 rows x 3 columns]

In [30]:
df.groupby([ pd.Grouper(key='Data', freq='w'), 'ID Loja']).agg({'Valor Final': [min, max, sum]})

                                      Valor Final
                                              min   max    sum
Data       ID Loja
2019-12-01 Bourbon Shopping SP                170   897   4011
           Center Shopping Uberlândia          60   750   2559
           Iguatemi Campinas                   73  2250  10972
           Iguatemi Esplanada                  85  3750   5671
           Norte Shopping                      85   535   1836
...                                           ...   ...    ...
2019-12-29 Shopping Morumbi                    50  2118   9705
           Shopping Recife                     30  2880  23082
           Shopping SP Market                  37  1240  18636
           Shopping União de Osasco            66  2250  16977
           Shopping Vila Velha                 37  1440  15849

[125 rows x 3 columns]

In [31]:
df.groupby([ 'ID Loja', 'Produto']).agg({'Valor Final': [min, max, sum]})

                                     Valor Final
                                             min   max   sum
ID Loja             Produto
Bourbon Shopping SP Bermuda                  300   450   750
                    Bermuda Estampa          169   676  1183
                    Bermuda Linho            195   195   195
                    Bermuda Liso             471   471   471
                    Bermuda Listrado         163   489  1793
...                                          ...   ...   ...
Shopping Vila Velha Tênis                    250   250   250
                    Tênis Linho              294   294   294
                    Tênis Liso               266   532  1064
                    Tênis Listrado           262   262   262
                    Tênis Xadrez             518  1036  1554

[2716 rows x 3 columns]

In [32]:
df.loc[(df['Valor Final'] > df['Valor Final'].mean()), 'Lucro'] = 'Sim'
df.loc[(df['Valor Final'] < df['Valor Final'].mean()), 'Lucro'] = 'Não'

In [33]:
df.head()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Lucro
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,Sim
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,Não
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,Sim
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250,Não
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276,Não

In [18]:
df_lucro = df.query('Lucro == "Sim"')
df_lucro

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Lucro
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,Sim
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,Sim
11,65020,2019-12-01,Shopping Morumbi,Camiseta Xadrez,5,200,1000,Sim
14,65025,2019-12-01,Shopping Ibirapuera,Calça Xadrez,5,185,925,Sim
18,65028,2019-12-01,Iguatemi Campinas,Sapato,5,350,1750,Sim
...,...,...,...,...,...,...,...,...
7077,69987,2019-12-26,Bourbon Shopping SP,Bermuda Estampa,4,169,676,Sim
7078,69991,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,Sim
7082,69995,2019-12-26,Novo Shopping Ribeirão Preto,Cinto Listrado,3,214,642,Sim
7083,69995,2019-12-26,Novo Shopping Ribeirão Preto,Mochila,4,270,1080,Sim
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,Sim

In [38]:
df_test = df_lucro.drop_duplicates(subset='ID Loja', keep='first')
df_test

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Lucro
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,Sim
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,Sim
14,65025,2019-12-01,Shopping Ibirapuera,Calça Xadrez,5,185,925,Sim
26,65034,2019-12-01,Shopping Vila Velha,Camisa Gola V Liso,4,118,472,Sim
29,65037,2019-12-01,Parque Dom Pedro Shopping,Terno Xadrez,1,709,709,Sim
34,65038,2019-12-01,Shopping Iguatemi Fortaleza,Sunga Linho,5,149,745,Sim
35,65039,2019-12-01,Rio Mar Shopping Fortaleza,Mochila,2,270,540,Sim
40,65043,2019-12-01,Palladium Shopping Curitiba,Calça,5,170,850,Sim
47,65047,2019-12-01,Salvador Shopping,Bermuda Xadrez,5,155,775,Sim
49,65048,2019-12-01,Bourbon Shopping SP,Tênis Liso,3,266,798,Sim
50,65049,2019-12-01,Iguatemi Esplanada,Terno Linho,5,750,3750,Sim
54,65053,2019-12-01,Shopping Center Leste Aricanduva,Camisa Gola V Estampa,4,118,472,Sim
55,65054,2019-12-01,Center Shopping Uberlândia,Sunga Linho,5,149,745,Sim
79,65070,2019-12-01,Ribeirão Shopping,Tênis Estampa,3,256,768,Sim
85,65071,2019-12-01,Shopping Recife,Polo Linho,5,176,880,Sim
95,65080,2019-12-01,Shopping Barra,Terno Xadrez,1,709,709,Sim
100,65082,2019-12-01,Novo Shopping Ribeirão Preto,Terno Listrado,4,709,2836,Sim
110,65093,2019-12-01,Rio Mar Recife,Bermuda Xadrez,3,155,465,Sim
114,65094,2019-12-01,Shopping SP Market,Camiseta Xadrez,5,200,1000,Sim
138,65109,2019-12-01,Passei das Águas Shopping,Camiseta Estampa,5,196,980,Sim
152,65120,2019-12-01,Shopping Midway Mall,Sapato,2,350,700,Sim
167,65126,2019-12-01,Shopping União de Osasco,Cinto Liso,3,209,627,Sim
218,65159,2019-12-01,Shopping Eldorado,Mochila Linho,2,311,622,Sim
245,65179,2019-12-01,Norte Shopping,Camisa Gola V Xadrez,5,107,535,Sim
293,65208,2019-12-02,Shopping Center Interlagos,Bermuda Xadrez,3,155,465,Sim

In [39]:
df_test.groupby(['ID Loja']).size()

ID Loja
Bourbon Shopping SP                 1
Center Shopping Uberlândia          1
Iguatemi Campinas                   1
Iguatemi Esplanada                  1
Norte Shopping                      1
Novo Shopping Ribeirão Preto        1
Palladium Shopping Curitiba         1
Parque Dom Pedro Shopping           1
Passei das Águas Shopping           1
Ribeirão Shopping                   1
Rio Mar Recife                      1
Rio Mar Shopping Fortaleza          1
Salvador Shopping                   1
Shopping Barra                      1
Shopping Center Interlagos          1
Shopping Center Leste Aricanduva    1
Shopping Eldorado                   1
Shopping Ibirapuera                 1
Shopping Iguatemi Fortaleza         1
Shopping Midway Mall                1
Shopping Morumbi                    1
Shopping Recife                     1
Shopping SP Market                  1
Shopping União de Osasco            1
Shopping Vila Velha                 1
dtype: int64

In [45]:
lucros = df_test['ID Loja'].tolist()
lucros

['Shopping Morumbi',
 'Iguatemi Campinas',
 'Shopping Ibirapuera',
 'Shopping Vila Velha',
 'Parque Dom Pedro Shopping',
 'Shopping Iguatemi Fortaleza',
 'Rio Mar Shopping Fortaleza',
 'Palladium Shopping Curitiba',
 'Salvador Shopping',
 'Bourbon Shopping SP',
 'Iguatemi Esplanada',
 'Shopping Center Leste Aricanduva',
 'Center Shopping Uberlândia',
 'Ribeirão Shopping',
 'Shopping Recife',
 'Shopping Barra',
 'Novo Shopping Ribeirão Preto',
 'Rio Mar Recife',
 'Shopping SP Market',
 'Passei das Águas Shopping',
 'Shopping Midway Mall',
 'Shopping União de Osasco',
 'Shopping Eldorado',
 'Norte Shopping',
 'Shopping Center Interlagos']

In [43]:
faturamento = df['Valor Final'].sum()
qtde_produtos = df['Quantidade'].sum()

In [11]:
# Abrindo uma nova guia, digitando para entrar o gmail e entrando no site: (esperar 5segundos para carregar tudo)
pyautogui.hotkey('ctrl', 't')
pyautogui.write("mail.google.com")
pyautogui.press('enter')
time.sleep(5)

In [10]:
# Coletando a localização de onde estará o botão escrever novo e-mail:
time.sleep(5)
print(pyautogui.position())

Point(x=143, y=201)

In [17]:
# Pressionando o botão de escrever um novo email:
# Delay para teste - time.sleep(5)
pyautogui.click(143,201)

In [21]:
# Digitando as configurações do email, para quem vai e o assunto do email:
# Delay para teste - time.sleep(8)
pyautogui.write('email@gmail.com')
pyautogui.press('tab')
pyautogui.press('tab')
assunto = "Relátorio de Vendas"
pyperclip.copy(assunto)
pyautogui.hotkey("ctrl", 'v')

In [46]:
# Escrevendo o texto do email:
# Delay para teste - time.sleep(8)
pyautogui.press('tab')
texto = f"""
Prezados, bom dia

O faturamento d eontem foi de: R${faturamento:,.2f}
A quantidade de produtos foi de: {qtde_produtos:,}

As lojas que tiveram lucro maior que a média foram: {lucros}

Abs.
Haline Velloso

"""
# Enviando o email:
pyperclip.copy(texto)
pyautogui.hotkey("ctrl", 'v')
pyautogui.hotkey("ctrl", 'enter')

NameError: name 'pyantogui' is not defined